body {

  background: #f9f9f9;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

.content {
  margin: 0 auto;
}

/* 
Message box 
*/

* { 
  margin: 0; 
  padding: 0; 
}

#page {
  display:table;
  overflow:hidden;
  margin:0px auto;
}

/*
ie7
*/
*:first-child+html #page {
  position:relative;
}

/*
ie6
*/   
* html #page{
  position:relative;
}

#content_container{
  display:table-cell;
  vertical-align: middle;
  box-sizing: border-box;
}

/*
ie7
*/
*:first-child+html #content_container{
  position:absolute;
  top:50%;
}

/*
ie6
*/
* html #content_container{
  position:absolute;
  top:50%;
}

/*
ie7
*/
*:first-child+html #content{
  position:relative;
  top:-50%;
}

/*
ie6
*/
* html #content{
  position:relative;
  top:-50%;
}

html,body{
  height:100%;
  max-width: 100%;
  overflow-x: hidden;
}

#page{
  height:100%;
  width: 100%;
  background: #f9f9f9;
}

#page .body  {
  width: 100%;
  margin-top: 64px;
  margin-bottom: 111px; /*footer height + chat-list margin-bottom*/
  overflow-x: hidden;
  overflow-y: auto;
}

.msg-box {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100vw;
  padding-right: 256px;
}

.msg-body {
  background: #fff;
  width: 90%;
  margin: 0 auto;
}

.msg-footer {
  position:fixed;
  width: 100%;
  bottom: 0px;
  height: 108px;
  background: #f9f9f9;
  padding-right: 256px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}   

.textarea-contain {
  width: 95%;
  height: 64px;
  padding: 22px;
  position: relative;
  box-sizing: border-box;
  float: left;
}

.btn-contain {
  float: right;
  color: rgb(79, 125, 201);
  margin-right: 2%;
  margin-top: -20px;
  position: relative;
  top: 20%;
}

.btn-send {
  padding-right: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#msg-input-btn{
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: rgb(79, 125, 201);
  cursor: pointer;
}

#msg-input-btn:hover {
  outline: none;
}

#paper-plane {
  transition: transform 0.1s ease-in;
}

#paper-plane:hover {
  transform: rotate(45deg);
}

textarea,
textarea::after,
textarea::before{
  box-sizing: border-box;
}

#msg-edit-area {
  width: 100%;
  height: 100%;
  resize: none;
}

.msg-input {
  box-sizing: border-box;
  font-family: Roboto,sans-serif;
  font-size: 1.0rem;
  line-height: 1rem;
  height: 64px;
  max-height: 64px;
  padding: 7px;
}

#msg-input-area {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1.2rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.1;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
  resize: none;
  height: 100%;
  font-family: 'Roboto';
}

#msg-input-area:focus,
#msg-input-area:valid {
  color: #333;
}

.msg-input .control-label {
  position: absolute;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  font-size: 1.0rem;
  color: gray;
  top: 80%;
}

.msg-input .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}

.msg-input .bar::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #337ab7;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}

.msg-input textarea:focus ~ .control-label{
 font-size: 0.8rem;
 color: gray;
 top: 15%;
 color: #337ab7;
}

.msg-input textarea:focus {
  outline: none;
}

.msg-input textarea:focus ~ .bar::before {
  width: 100%;
  left: 0;
}

#edit-message-btn {
  float: right;
}

.chat-list {
  padding: 7px 0 0 0;
  list-style-type: none;
  box-sizing: border-box;
}

.msg {
  list-style-type: none;
  min-height: 32px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #3c3a41;
  margin-bottom: 7px;
}

.msg:hover {
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 1px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

li {
  display: list-item;
  text-align: left;
  padding: 6px 20px;
  word-wrap: break-word;
  list-style-position: unset;
  overflow: hidden;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;   
}

.author {
  float: left;
  font-weight:bold;
}

.double-dot {
  float:left;
  margin-right: 5px;
}

.text {
  margin-right: 5px;
}

.date {
  float: right;
  color: #BDC3C7;
}

.changed {
  float: left;
  color: #BDC3C7;
  font-size: 12px;
}

#edit-message-btn {
  float: right;
  position: relative;
  opacity:0;
  -webkit-transition: opacity 0.25s linear;
  transition:opacity 0.25s linear;
}

li:hover #edit-message-btn{
  opacity:1;
}

/* 
Alert 
*/

.alert {
  min-height: 36px;
  padding: 5px 5px 5px 0;
}

.alert-text {
  font-weight:bold;
}

.alert-info {
  background-color: rgba(52, 152, 219, 0.5);
  color: rgba(52, 152, 219, 1.0);
}

.alert-success {
  background-color: rgba(46, 204, 113, 0.5);
  color: rgba(30, 130, 76, 1.0);
}

.alert-warning {
  background-color: rgba(241, 196, 15, 0.5);
  color: rgba(249, 105, 4, 1.0);
}

.alert-error {
  background-color: rgba(231, 76, 60, 0.5);
  color: rgba(231, 76, 60, 1.0);
}

/*  
Text area 
*/

/* input[type=text], #msg-edit-area {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, #msg-edit-area:focus {
  box-shadow: 0 0 5px rgba(183, 187, 189, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(183, 187, 189, 1);
}

input[type=text], #msg-edit-area {
  margin: 0;
}

input[type=text]:focus, #msg-edit-area:focus {
  margin: 0;
}
*/
/*
Scroll
*/
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #999;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
/*::-webkit-scrollbar-track {
        background-color: #eaeaea;
        border-left: 1px solid #ccc;
        } 
        */

/* 
Sticky Footer IE 6 
*/
/* * html .msg-footer {
   position: absolute;
   top:expression((0-(footer.offsetHeight)+
    (document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)
    +(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))
   +'px');
   } */




/*
Header with search panel
*/

.header {
 color: #333;
 text-align: center;
 color: rgb(255, 255, 255);
 fill: rgb(255, 255, 255);
 top: 0px;
 bottom: 0px;
 padding: 0;
 background-color: rgb(79, 125, 201);
 width: 100%;
 height: 128px;
 position: fixed;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 box-shadow: rgba(0, 0, 0, 0.1180392) 0px 2px 4px, rgba(0, 0, 0, 0.1180392) 0px 0px 3px;
 z-index: 10;
 padding-right: 256px;
 padding-left: 64px;
}

.search-contain {
  width: 50%;
  float: left;
  top: 10%;
  position: relative;
  padding: 0;
  margin: 5px;
  border: none;
  overflow: visible;
  font: 14px/1.21 Roboto;
}
.search-contain input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 10px 8px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-size: 120%;
  outline: none;
  cursor: text;
  background: transparent;
  color: #fff;
}
.search-contain input::-webkit-input-placeholder {
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}
.search-contain input:not(:focus)::-webkit-input-placeholder {
  color: transparent;
}
.search-contain hr {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2px;
  border: none;
  background: #fff;
  font-size: 1px;
  will-change: transform, visibility;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  visibility: hidden;
  z-index: 10;
}
.search-contain input:focus ~ hr {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
}
.search-contain label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 120%;
  color: #fff;
  -webkit-transform-origin: 0 -150%;
  transform-origin: 0 -150%;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  pointer-events: none;
}
.search-contain input:focus ~ label,
.search-contain input:valid ~ label {
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  color: rgb(79, 125, 201);
}

.header i {
  float: left;
  margin-right: 5px;
}