#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#layout {
    position: absolute;
    padding-left: 0;
}
#layout.active #menu {
    left: 256px;
    width: 256px;
}

#layout.active .menu-link {
    left: 256px;
}


#menu {
    margin-left: -256px; /* "#menu" width */ 
    width: 256px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* the menu or its navicon stays above all content */
    background: #e0e0e0;
    overflow-y: auto;
    height: 100%;
    background-color: white;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1980392) 0px 2px 4px, rgba(0, 0, 0, 0.1980392) 0px 0px 3px;
    -webkit-overflow-scrolling: touch;

    overflow-x: hidden;
}

#menu a {
  color: #000;
  border: none;
  text-decoration: none;
}

#menu .sha {
    height: 170px;
    overflow: hidden;
}

#menu .pure-menu {
    border: none;
    background: transparent;
    width: 100%;
    overflow: hidden;
}

#menu .pure-menu a:hover,
#menu .pure-menu a:focus {
    background: #e0e0e0;
    cursor: pointer;
}

#menu .pure-menu-selected,
#menu .pure-menu-heading {
    background: #1f8dd6;
    height: 128px;
}

#menu .pure-menu-selected a {
    color: #e0e0e0;
}

#menu .pure-menu-heading {
    font-size: 110%;
    color: #fff;
    margin: 0;
}

#menu .pure-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    min-height: 48px;
    padding: 0px 16px;
}

/*
Dynamic Button For Responsive Menu
*/

#menu .title {
    height: 32px;
    position: relative;
    margin-left: 11px;
    margin-top: 11px;
    margin-bottom: 11px;
    align-items: center;
    color: #888;
}
#menu .title > p {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
}

.menu-link {
    position: fixed;
    display: block;
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: transparent;
    border-radius: 50%;
    font-size: 14px; /* button size */
    z-index: 10;
    height: auto;
    width: 2em;
    padding: 2.1em 1.6em;
    z-index: 11;
}

.menu-link:hover
/* .menu-link:focus { */ {
 /* background: rgba(0, 0, 0, 0.0980392); */
}

.menu-link span {
    position: relative;
    display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
    background-color: #fff;
    width: 100%;
    height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}

.menu-link span:after {
    margin-top: 0.6em;
}

/*
Profile info
*/

.profile-image {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-left: 11px;
    margin-top: 11px;
    position: absolute;
    box-shadow: 0 0 8px rgba(0, 0, 0.0980392, 0.0980392);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0.0980392, 0.0980392);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0.0980392, 0.0980392);   
}

.profile-image img {
    opacity: 100;
    filter: alpha(opacity=0);
}

.profile-image, 
.profile-image img {
    width: 82px;
    height: 82px;
}

#profile-name {
 margin-left: 11px;
 margin-top: 96px;
 position: absolute;
 font-size: 16px;
 font-family: 'Roboto';
}

#pencil-icon{
   margin-left: 16px;
   margin-top: 18px;
   position: absolute;
   z-index: 4;
}


#camera-icon{
   margin-left: 13px;
   margin-top: 18px;
   position: absolute;
   z-index: 4;
}

#plus-icon{
   margin-left: 22px;
   margin-top: 24px;
   position: absolute;
   z-index: 4;
   transition: transform 0.1s ease-in;
}

#plus-icon.rotate {
    transform: rotate(-45deg);
}

.btn-container {
  position: absolute;
  margin-left: 175px;
  margin-top: 96px;
}

.btn-container.active .btn-secondary {
  transform: translateX(-70px) scale(1);
  opacity: 1;
}

.btn-container.active .btn-tertiary {
  transform: translateY(-65px) scale(1);
  opacity: 1;
}

.btn {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  background-color: #ff9800;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  color: #fff;
}

.btn-primary {
  z-index: 3;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
}

.btn-secondary {
  z-index: 2;
  margin-left: 5px;
  width: 50px;
  height: 50px;
  transform: scale(0.4);
  opacity: 0;
}

.btn-tertiary {
  z-index: 1;
  margin-left: 5px;
  width: 50px;
  height: 50px;
  transform: scale(0.4);
  opacity: 0;
}







.pure-menu-heading .fab {
  width: 50px;
  height: 50px;
  background-color: #ffe375;
  position: absolute;
  z-index: 99;
  margin-left: 175px;
  margin-top: 96px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: 0.6s cubic-bezier(0.65, -0.4, 0.49, 1.4);
  transition: 0.6s cubic-bezier(0.65, -0.4, 0.49, 1.4);
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
.pure-menu-heading .fab.expand {
  cursor: default;
  -webkit-transform: scale3d(13, 13, 1);
  transform: scale3d(13, 13, 1);
  -webkit-transition: 0.6s cubic-bezier(0.65, -0.68, 0.49, 1.94);
  transition: 0.6s cubic-bezier(0.65, -0.68, 0.49, 1.94);
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}
.pure-menu-heading .fab-sha {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 175px;
  margin-top: 96px;
  border: 1px solid #ffe375;
  border-radius: 50%;
  -webkit-transform: scale3d(0.9, 0.9, 1);
  transform: scale3d(0.9, 0.9, 1);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}
.pure-menu-heading .fab-sha.active {
  -webkit-transform: scale3d(4, 4, 1);
  transform: scale3d(4, 4, 1);
  border: 3px solid #ffe375;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.close {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  -webkit-transform: rotateZ(0deg) scale3d(0, 0, 0);
  transform: rotateZ(0deg) scale3d(0, 0, 0);
  cursor: pointer;
  -webkit-transition: 0.4s cubic-bezier(0.65, -0.68, 0.49, 1.94);
  transition: 0.4s cubic-bezier(0.65, -0.68, 0.49, 1.94);
}
.close:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  background-color: white;
  margin-left: calc(50% - 12px);
  margin-top: calc(50% - 1.5px);
}
.close:after {
  content: "";
  position: absolute;
  height: 24px;
  width: 3px;
  background-color: white;
  margin-top: calc(50% - 12px);
  margin-left: calc(50% - 1.5px);
}
.close.active {
  -webkit-transform: rotateZ(135deg) scale3d(1, 1, 1);
  transform: rotateZ(135deg) scale3d(1, 1, 1);
  -webkit-transition: 0.4s cubic-bezier(0.65, -0.68, 0.49, 1.94);
  transition: 0.4s cubic-bezier(0.65, -0.68, 0.49, 1.94);
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}
